* {
    /* border: 0.1px rgb(0, 0, 0) solid; */
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* border: 1px solid rgba(250, 245, 245, 0.1); */
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

.page{
    width: 95vw;
    height: 50vh;
    border: 5px solid rgb(170, 136, 231);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 5px;
}

.profile {
    margin: 20px 0px 0px 0px;
    width: 20%;
    border-radius: 100%;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
}

.a1,
.a2,
.a3 {
    margin: 4px;
    padding: 12px;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
}

h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 30px;
}

blockquote {
    margin: 20px;
    padding: 24px;
    text-align: center;
}

.phone {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.center {
    text-align: center;
}

.table {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    text-align: left;

}

.th_a {
    border-bottom: 1px solid black;
}

.pg_ex {
    margin: auto;
    width: 70%;

}

.pj_ex {
    margin: auto;
    width: 60%;
    text-align: center;
}

p {
    width: 80%;
    margin-left: 90px;
}

.form {
    max-width: 60%;
    margin: auto;
}

.email, .feedback, 0 {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    min-height: 32px;
}
